In [1]:
import os
os.getcwd()

'/home/yes24/capstone/추천알고리즘/preprocessed'

In [2]:
os.chdir('/home/yes24/models/research/deep_contextual_bandits')

In [3]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np
import pandas as pd
import tensorflow as tf
import time
from absl import app
from absl import flags

In [4]:
from bandits.core.contextual_bandit import run_contextual_bandit
from bandits.algorithms.linear_full_posterior_sampling import LinearFullPosteriorSampling

In [5]:
from bandits.data.data_sampler import sample_census_data
from bandits.data.data_sampler import one_hot,safe_std,remove_underrepresented_classes,classification_to_bandit_problem

In [6]:
def display_results(algos, opt_rewards, opt_actions, h_rewards, t_init, name):
    """Displays summary statistics of the performance of each algorithm."""

    print('---------------------------------------------------')
    print('---------------------------------------------------')
    print('{} bandit completed after {} seconds.'.format(
        name, time.time() - t_init))
    print('---------------------------------------------------')

    performance_pairs = []
    for j, a in enumerate(algos):
        performance_pairs.append((a.name, np.sum(h_rewards[:, j])))
    performance_pairs = sorted(performance_pairs,
                             key=lambda elt: elt[1],
                             reverse=True)
    for i, (name, reward) in enumerate(performance_pairs):
        print('{:3}) {:20}| \t \t total reward = {:10}.'.format(i, name, reward))

    print('---------------------------------------------------')
    print('Optimal total reward = {}.'.format(np.sum(opt_rewards)))
    print('Frequency of optimal actions (action, frequency):')
    print([[elt, list(opt_actions).count(elt)] for elt in set(opt_actions)])
    print('---------------------------------------------------')
    print('---------------------------------------------------')

In [7]:
num_actions = 5

In [8]:
df_100_fin = pd.read_csv('df100_test_0701.csv')

In [9]:
df_100_fin['purchase'].sum()

706.0

In [10]:
df_context = df_100_fin.iloc[:,6:]
labels = df_100_fin.iloc[:,4].astype('int8').values

In [11]:
df_context

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,1,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4129,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4130,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4131,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4132,0,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0

In [12]:
df_context, labels = remove_underrepresented_classes(df_context, labels)
contexts = df_context.values

Unique classes and their ratio of total: {0: 0.0931526736027099, 1: 0.18872489716912655, 2: 0.17735301233970482, 3: 0.432615533510767, 4: 0.10815388337769175}

In [13]:
sampled_vals = classification_to_bandit_problem(contexts, labels, num_actions)

In [14]:
contexts, rewards, (opt_rewards, opt_actions) = sampled_vals

In [15]:
rewards_list = df_100_fin['purchase'].values.tolist()

In [16]:
rewards2 = rewards.copy()

In [17]:
for i in range(len(rewards_list)):
    if rewards_list[i] == 0:
        rewards2[i] = np.where(rewards2[i]==1,0,rewards2[i])

In [18]:
dataset = np.hstack((contexts, rewards))
context_dim = contexts.shape[1]

In [19]:
dataset2 = np.hstack((contexts, rewards2))
context_dim = contexts.shape[1]

In [20]:
mu = np.load('/home/yes24/capstone/소라공유폴더/mean_0701.npy')
cov = np.load('/home/yes24/capstone/소라공유폴더/cov_0701.npy')

In [29]:
hparams = tf.contrib.training.HParams(num_actions=num_actions)
hparams_linear = tf.contrib.training.HParams(num_actions=num_actions,
                                               context_dim=context_dim,
                                               a0=6,
                                               b0=6,
                                               lambda_prior=0.25,
                                               initial_pulls=1,
                                            mu=mu,
                                            cov=cov)

In [30]:
algos = [LinearFullPosteriorSampling('LinFullPost', hparams_linear)]

In [31]:
run_contextual_bandit(context_dim, num_actions, dataset2, algos)

(array([[0.],
        [1.],
        [2.],
        ...,
        [4.],
        [4.],
        [4.]]),
 array([[0.],
        [0.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]]),
 [])

In [23]:
t_init2 = time.time()
results2 = run_contextual_bandit(context_dim, num_actions, dataset2, algos)

In [30]:
h_rewards2.T[0].sum()

82.0

In [27]:
_2, h_rewards2,h_vals2 = results2

In [24]:
h_vals2

[]

In [25]:
t_init = time.time()
results = run_contextual_bandit(context_dim, num_actions, dataset, algos)
_, h_rewards = results

In [28]:
display_results(algos, opt_rewards, opt_actions, h_rewards, t_init, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 42.18470048904419 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =     3548.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [29]:
display_results(algos, opt_rewards, opt_actions, h_rewards2, t_init2, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 22.114109992980957 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =      672.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [31]:
display_results(algos, opt_rewards, opt_actions, h_rewards2, t_init2, 'yes24')

---------------------------------------------------
---------------------------------------------------
yes24 bandit completed after 93.9321277141571 seconds.
---------------------------------------------------
  0) LinFullPost         | 	 	 total reward =       82.0.
---------------------------------------------------
Optimal total reward = 4133.0.
Frequency of optimal actions (action, frequency):
[[0, 385], [1, 780], [2, 733], [3, 1788], [4, 447]]
---------------------------------------------------
---------------------------------------------------

In [31]:
ts_actions = _.T[0]

In [36]:
len(ts_actions)

4133

In [37]:
len(labels)

4133

In [40]:
len(rewards_list)

4133

In [45]:
rewards_list = np.array(rewards_list)

In [50]:
df_eval = pd.concat([pd.DataFrame(ts_actions),pd.DataFrame(labels),pd.DataFrame(rewards_list)],axis=1)

In [52]:
df_eval.columns=['ts_actions','labels','reward']

In [60]:
rewards_fin = 0
for i in range(len(df_eval)):
    if df_eval['reward'][i] == 1:
        if df_eval['ts_actions'][i] == df_eval['labels'][i]:
            rewards_fin +=1

In [61]:
rewards_fin

615

In [68]:
mean1 = algos[0].mu

In [69]:
cov1 = algos[0].cov

In [75]:
mean2 = algos[0].mu

In [76]:
cov2 = algos[0].cov

In [31]:
algos[0].mu

[array([ 2.94238351e-03, -2.94238351e-03,  0.00000000e+00,  1.86575911e-02,
        -2.70227944e-02, -1.15259194e-02,  2.31228639e-02,  5.91907131e-03,
         0.00000000e+00, -2.09351004e-02,  5.09044305e-03, -2.21060517e-02,
        -1.42324452e-02,  5.62984922e-05, -2.10951052e-02,  2.05857716e-03,
         5.08096442e-03, -8.19246790e-03,  1.84492896e-02,  0.00000000e+00,
         1.05237238e-02,  1.97907673e-02,  0.00000000e+00, -2.15151753e-02,
        -1.46805238e-02, -1.08972048e-02, -4.87409864e-03, -1.37862495e-02,
         2.45011192e-02, -6.91920123e-03,  2.83958830e-02, -2.15381536e-03,
         9.58653860e-03, -4.11546726e-03, -1.32562954e-03,  1.32562954e-03,
         1.69998275e-02, -1.69998275e-02, -1.48153127e-03,  1.00725578e-02,
         8.28318908e-02, -1.44173775e-02,  3.27791961e-02,  3.81069300e-02,
         1.08810215e-02,  1.08113050e-02, -9.18157155e-03,  3.27987480e-02,
         1.06950729e-02,  2.76052955e-02,  5.91797466e-02,  6.10902328e-03,
         3.17441997e-02,  4.01472060e-02, -4.33593240e-02,  1.75208281e-02,
        -5.28724953e-02, -3.60286418e-02, -1.61929642e-03, -6.67766801e-02,
        -3.49379346e-02, -6.44626173e-02, -3.18797270e-02, -4.74073092e-02,
        -6.74305672e-02,  1.74839878e-02,  6.02975811e-02,  3.64922002e-02,
         5.57490581e-02,  8.99834509e-02, -8.33800079e-02, -4.91406107e-02,
        -3.61890334e-03]),
 array([-1.47461066e-02,  1.47461066e-02,  0.00000000e+00, -2.91751989e-02,
        -7.19102677e-03,  9.57545566e-03,  8.60427343e-04, -8.84558333e-04,
         0.00000000e+00, -1.49290245e-02,  1.73550987e-02,  3.60600886e-02,
         9.39914381e-04,  2.90611691e-03, -5.22409712e-02, -5.03355297e-04,
         5.12597449e-03, -1.27417193e-02,  2.17367704e-02,  0.00000000e+00,
        -1.01529480e-02, -3.88945462e-02,  0.00000000e+00,  2.21286004e-03,
        -1.01936495e-02,  3.94039859e-04, -5.75896004e-03,  1.78654951e-02,
        -1.17729936e-03, -1.49192704e-03,  1.10676845e-03, -1.10654824e-02,
        -1.79137790e-03, -7.79127697e-03, -1.91435001e-02,  1.91435001e-02,
        -7.36623069e-03,  7.36623069e-03, -1.01603094e-02,  9.09927292e-05,
        -9.79515911e-02, -7.72425169e-03, -7.73554022e-02, -2.84316157e-02,
        -2.60524887e-02, -5.23873696e-02, -8.54844535e-03, -5.88859811e-02,
        -9.54869377e-04, -2.95306020e-02, -6.26567968e-03, -1.10898423e-02,
        -1.78171673e-02, -3.19617550e-02,  3.65606991e-02,  1.00430779e-02,
         3.06536582e-02,  4.15962765e-02,  6.22791005e-04,  5.92028033e-02,
         6.77670940e-02,  5.44954616e-02,  5.70511713e-02, -1.06882227e-01,
        -2.40554342e-02,  6.06244993e-02,  4.03114650e-02,  5.11967531e-02,
         5.05876633e-02,  8.67304813e-02, -7.11110677e-02, -5.98974085e-02,
         3.82930980e-02]),
 array([ 8.09991008e-03, -8.09991008e-03,  0.00000000e+00,  3.45437575e-02,
         1.71409755e-03,  4.48923661e-03,  9.72426059e-03, -3.15965717e-02,
         0.00000000e+00, -2.45407871e-02,  3.32050747e-03,  2.67216189e-04,
         1.20984148e-02,  4.60431752e-04, -9.28494149e-03, -6.39347914e-03,
         1.36531182e-02, -1.15254151e-02,  1.16439600e-02,  0.00000000e+00,
         1.21768044e-02, -1.50963904e-05,  0.00000000e+00,  5.51569108e-03,
        -2.44191156e-02, -9.03237246e-03, -4.30631284e-03,  4.14053953e-03,
         2.62305084e-02, -1.36134746e-03,  3.40387963e-03, -1.29096730e-02,
         2.47166768e-02, -1.69411707e-02,  2.20677558e-02, -2.20677558e-02,
         8.84326923e-03, -8.84326923e-03,  2.48570797e-03, -2.19818428e-02,
        -4.95773641e-02, -3.85106191e-02, -4.17932601e-02, -3.70455581e-02,
        -4.81834814e-03, -3.84811416e-02,  6.66205571e-04, -4.58607472e-02,
        -1.45956116e-02, -4.26907631e-02, -9.91202309e-02, -1.33597376e-02,
         1.64128352e-02,  2.61428584e-02,  3.21335285e-02,  1.31531102e-02,
         5.41929334e-02,  4.41735310e-02,  8.08926975e-03,  3.18185164e-02,
         3.14128134e-02,  4.19186875e-02,  7.20844865e-02, -1.13697498e-01,
        -3.54991503e-03,  1.88186753e-02,  5.54171578e-02,  5.34841398e-02,
        -6.90491825e-02, -8.32390043e-02,  1.03785788e-01,  1.74504020e-02,
         9.29177412e-02]),
 array([-5.02454666e-04,  5.02454666e-04,  0.00000000e+00,  2.47324188e-03,
         1.04742316e-02, -5.83838748e-03,  5.10151059e-03, -1.03518521e-02,
         0.00000000e+00, -7.39788993e-03,  1.59010435e-02, -2.41717204e-02,
        -6.30446559e-04, -4.02038577e-03, -1.65927521e-02, -6.73857650e-03,
         2.70697898e-03, -5.09490354e-03,  2.27912669e-02,  0.00000000e+00,
        -3.62097524e-03, -3.09176728e-02,  0.00000000e+00, -6.87979290e-03,
        -1.46636853e-02,  1.01804571e-03, -2.48593378e-03,  2.90367992e-02,
         1.72385306e-02,  1.57603835e-02,  1.17114578e-02, -4.99830034e-03,
        -9.78865785e-03,  2.11224214e-02,  5.62132103e-03, -5.62132103e-03,
         2.03895593e-02, -2.03895593e-02, -2.56923214e-03,  1.97216782e-03,
         3.46522764e-02, -7.83579586e-03, -8.02472784e-04,  1.17867242e-02,
        -1.26018499e-02,  1.69916766e-03, -1.58962699e-03, -6.08240874e-03,
        -2.57362527e-03,  2.68610140e-03,  5.93127444e-03,  2.35449105e-04,
        -8.98773903e-03, -3.78670335e-03,  4.97350355e-03, -9.34513377e-03,
        -5.26121299e-03,  6.17818162e-03,  2.41244092e-03,  1.09689248e-02,
        -1.15968432e-02, -2.17271373e-02, -1.64196902e-02,  1.34858702e-01,
         8.66549259e-02,  2.13482940e-02, -1.15238035e-01, -1.11741923e-01,
        -1.17725298e-02,  5.13901792e-03,  7.98749021e-03, -9.86179575e-03,
         2.58432949e-01]),
 array([-1.65756592e-02,  1.65756592e-02,  0.00000000e+00,  2.56390090e-02,
         2.47247414e-02, -9.18071352e-03,  1.55375670e-02, -4.14506160e-02,
         0.00000000e+00, -1.81770186e-02,  3.96578644e-02, -3.07332453e-02,
         2.13247079e-04,  3.81320690e-04, -1.25201178e-02,  1.31812985e-02,
        -5.83262965e-03, -1.79509602e-03,  1.39257640e-02,  0.00000000e+00,
         3.37128449e-03, -6.02639281e-02,  0.00000000e+00, -4.91215618e-03,
        -2.75062747e-02,  5.21920263e-02,  8.01569964e-03,  9.83567529e-03,
         2.98767274e-02,  2.98140549e-02,  7.15767855e-04,  6.66247906e-05,
         5.72101117e-03,  1.77336832e-02,  3.40138647e-03, -3.40138647e-03,
         3.06963730e-02, -3.06963730e-02, -1.06871229e-03, -1.26629401e-03,
         1.03779901e-01,  2.64842087e-02, -3.21423934e-04,  2.24331925e-02,
         3.77314134e-03,  3.66768313e-02,  3.15697142e-02,  4.27573889e-02,
         1.13293007e-02,  5.27427356e-02,  7.87279877e-02,  6.96160611e-03,
        -2.96080921e-02, -4.00208061e-02, -1.08928826e-02, -2.54444446e-02,
        -3.98854656e-02, -7.06955961e-02, -1.79809351e-02, -2.38468555e-02,
        -2.19296258e-02, -3.98984994e-02, -8.17374579e-02, -5.22189020e-02,
        -1.11132316e-01, -1.33619423e-02,  7.64553815e-02,  8.00011491e-02,
        -6.49079372e-02, -8.64043840e-02,  6.93511449e-02,  7.61292432e-02,
        -2.45115362e-02])]

In [8]:
df_100 = pd.read_csv('/home/yes24/capstone/영송공유폴더/test_100.csv')
df_100

      account_id  product_id    price  purchase  book_cluster  user_cluster
0         113512    89940862      0.0       0.0           4.0           3.0
1         113512    84434768      0.0       0.0           2.0           3.0
2         113512    74393338      0.0       0.0           2.0           3.0
3         113512    90108425      0.0       0.0           3.0           3.0
4         113512    85927898      0.0       0.0           3.0           3.0
...          ...         ...      ...       ...           ...           ...
4128    16790454    90061659      0.0       0.0           3.0           1.0
4129    16790454    89222585  14400.0       1.0           3.0           1.0
4130    16790454    89903437      0.0       0.0           3.0           1.0
4131    16790454    90114596      0.0       0.0           3.0           1.0
4132    16790454    90039222      0.0       0.0           3.0           1.0

[4133 rows x 6 columns]

In [13]:
user_fin = pd.read_csv('/home/yes24/capstone/원진공유폴더/일요일에고생이많다/user_dummified_1df_0628.csv')

In [14]:
book_fin = pd.read_csv('/home/yes24/capstone/원진공유폴더/일요일에고생이많다/bookfeature_dummified_0628.csv')
book_fin.drop(columns=book_fin.columns[0],inplace=True)

In [15]:
user100_list = df_100['account_id'].unique()

In [16]:
pro100_list = df_100['product_id'].unique()

In [17]:
user_fin[user_fin['account_id'].isin(user100_list)]

,account_id,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
12301,231022.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1
13217,2232676.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
13641,3300415.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
28128,9805328.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
49539,2122933.0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166997,1569435.0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
1167226,2332587.0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1
1204153,3056585.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
1209537,1176113.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1212458,8589820.0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1

In [18]:
book_fin[book_fin['product_id'].isin(pro100_list)]

,product_id,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
236,55868083,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
246,55869065,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
340,55936772,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
348,55944631,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
374,55976113,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269937,85030922,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270155,85108883,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270172,85109178,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
270304,85112006,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
270432,85122333,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0

In [19]:
user_context_add = pd.merge(df_100,user_fin,on='account_id',how='left')
user_context_add

,account_id,product_id,price,purchase,book_cluster,user_cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,113512,89940862,0.0,0.0,4.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,113512,84434768,0.0,0.0,2.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,113512,74393338,0.0,0.0,2.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,113512,90108425,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,113512,85927898,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,16790454,90061659,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4129,16790454,89222585,14400.0,1.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4130,16790454,89903437,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4131,16790454,90114596,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4132,16790454,90039222,0.0,0.0,3.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0

In [20]:
df_100_fin = pd.merge(user_context_add, book_fin, on='product_id',how='left')
df_100_fin

,account_id,product_id,price,purchase,book_cluster,user_cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,113512,89940862,0.0,0.0,4.0,3.0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,113512,84434768,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
2,113512,74393338,0.0,0.0,2.0,3.0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3,113512,90108425,0.0,0.0,3.0,3.0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,113512,85927898,0.0,0.0,3.0,3.0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,16790454,90061659,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4129,16790454,89222585,14400.0,1.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4130,16790454,89903437,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4131,16790454,90114596,0.0,0.0,3.0,1.0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4132,16790454,90039222,0.0,0.0,3.0,1.0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0

In [63]:
df_100_fin.to_csv('df100_test_0701.csv',index=False)