In [4]:
import pandas as pd
import os
os.getcwd()
os.chdir('C:\\python\\YES24')

In [5]:
df = pd.read_csv('top100_boooks.csv')

In [6]:
df

         product_id  year gender  purchase  month  buy_month
0          84659792     0      F       0.0      5          0
1          86895523     1      F       1.0      5          5
2          81503945     0      F       0.0      5          0
3          81503945     0      F       0.0      5          0
4          86591861     1      F       0.0      3          0
...             ...   ...    ...       ...    ...        ...
2499441    85927898     1      F       0.0      5          0
2499442    89967507     1      M       1.0      5          5
2499443    86017987     1      M       1.0      5          5
2499444    90233128     1      M       0.0      5          0
2499445    86017987     1      M       1.0      5          5

[2499446 rows x 6 columns]

In [ ]:
year =1 신 purchase =1 산것 month 클릭 달

In [7]:
df2 = pd.read_csv('context24.csv')

In [8]:
df2

,product_id,purchase,month,F/O/0,F/O/1,F/O/2,F/O/3,F/O/4,F/O/5,F/O/6,...,M/N/14,M/N/15,M/N/16,M/N/17,M/N/18,M/N/19,M/N/20,M/N/21,M/N/22,M/N/23
0,12,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,19,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148632,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148633,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148634,20,1.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148635,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148636,14,0.0,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0